/*----------------------------------------index-----------------------------------------*/
.bodyhtml {
  background-image: url("../assets/Que-diferencia-la-panaderia-de-la-pasteleria.jpg");
  background-size: cover;
  background-position: center;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "main main main" "panaderia pasteleria desayunos" "footer footer footer";
  -ms-grid-rows: 70% 25% 5%;
      grid-template-rows: 70% 25% 5%;
  -ms-grid-columns: 33.3% 33.3% 33.3%;
      grid-template-columns: 33.3% 33.3% 33.3%;
  font-weight: bold;
  text-shadow: 4px 4px 4px #000;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.2);
}

.dropdown-item {
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.dropdown-menu {
  width: 10%;
}

.navbar-toggler {
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  .bodyhtml {
        grid-template-areas: "main main main" "panaderia panaderia panaderia" "pasteleria pasteleria pasteleria" "desayunos desayunos desayunos" "footer footer footer";
    -ms-grid-rows: 65% 10% 10% 10% 5%;
        grid-template-rows: 65% 10% 10% 10% 5%;
  }
  .footerindex__div {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .contacto-html {
    height: 100vh;
  }
  .iframenosotros {
    width: auto;
    height: auto;
    margin-top: 40%;
    margin-bottom: 50%;
  }
  .bodynosotros {
    height: 100vh;
  }
  .body-panaderia {
    height: 100vh;
  }
  .opcion, .opcion--galletas, .opcion--facturas {
    padding-top: 0%;
  }
  .cuerpo-pasteleria {
    height: 100vh;
  }
  .opcion__descripcion {
    font-size: 80%;
  }
  .section1__h3 {
    font-size: 100%;
  }
  .section1 ol {
    padding-left: 10%;
  }
  .section2__h3 {
    font-size: 100%;
  }
  .section2 ol {
    padding-left: 10%;
  }
  .bodydesayunos {
    font-size: 70%;
    height: 100vh;
  }
  .card1__lista {
    padding-left: 10%;
  }
  .card2__lista {
    padding-left: 10%;
  }
  .card3__lista {
    padding-left: 10%;
  }
  .carousel-inner {
    width: auto;
  }
}

.sectionback {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
  background-image: url();
  background-size: cover;
  background-position: center;
  margin: 0px;
  padding: 0px;
  width: auto;
}

.headerindex {
  width: auto;
  height: 5%;
  background-color: rgba(0, 0, 0, 0.2);
}

.inner {
  text-align: center;
  color: white;
  margin-top: 30px;
  padding-top: 10%;
  padding-bottom: 60px;
  line-height: 50px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100px;
}

.footerindex nav div {
  padding-bottom: 0px;
}

.mainpanaderia {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: panaderia;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  background-position: center;
  border: 2px white solid;
  border-radius: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: auto;
  margin: 10px;
  font-weight: normal;
}

.mainpanaderia a {
  width: 100vw;
}

.mainpanaderia :hover {
  -webkit-transform: translateY(-3px) scale(1.05);
          transform: translateY(-3px) scale(1.05);
}

.mainpasteleria {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: pasteleria;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  background-position: center;
  border: 2px white solid;
  border-radius: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: auto;
  margin: 10px;
  font-weight: normal;
}

.mainpasteleria :hover {
  -webkit-transform: translateY(-3px) scale(1.05);
          transform: translateY(-3px) scale(1.05);
}

.maindesayuno {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: desayunos;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  background-position: center;
  border: 2px white solid;
  border-radius: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: auto;
  margin: 10px;
  font-weight: normal;
}

.maindesayuno :hover {
  -webkit-transform: translateY(-3px) scale(1.05);
          transform: translateY(-3px) scale(1.05);
}

.texto-opciones-panaderia {
  color: white;
  font-size: 250%;
  text-shadow: 2px 2px 2px black;
  text-decoration: none;
  margin-top: 12vh;
  margin-bottom: 15%;
}

.footerindex {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  height: 100%;
  margin: 0px;
  border: 20px;
  background-color: rgba(255, 254, 254, 0.1);
  text-align: center;
}

.footer-redes {
  background-color: whitesmoke;
  border-radius: 50%;
}

/*----------------------------------------panaderia.html-----------------------------------*/
.body-panaderia {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "menu menu menu" "main main main";
  -ms-grid-columns: 30% 35% 35%;
      grid-template-columns: 30% 35% 35%;
  -ms-grid-rows: 6% 90%;
      grid-template-rows: 6% 90%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  color: #020202;
  background-size: cover;
  font-weight: bold;
  text-shadow: 3px 3px 3px #000;
  height: 115vh;
}

.navbarpanaderia {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: menu;
}

.dropdown-item {
  background-size: 100vw;
}

.main-panaderia {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
}

.main-panaderia {
  display: -ms-grid;
  display: grid;
  color: white;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
      grid-template-areas: "texto1 texto1" "imagen1 texto3" "texto4 imagen2" "imagen3 texto5";
      grid-template-rows: 4vh 33vh 33vh 33vh;
      grid-template-columns: 50% 50%;
  margin: 0px;
  padding: 0px;
}

.titulo-panaderia {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: texto1;
  margin: 0px;
  padding-left: 20px;
}

.opcion, .opcion--galletas, .opcion--facturas {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: texto3;
  font-size: 100%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 0px;
  padding-left: 20px;
  border: 2px white solid;
  border-radius: 50px;
  background-size: cover;
  padding-top: 40px;
}

.opcion__titulo {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.opcion__descripcion {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.imagen-panes {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: imagen1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.opcion--galletas {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: texto4;
}

.imagen-galletas {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: imagen2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.opcion--facturas {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: texto5;
}

.imagen-facturas {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: imagen3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*---------------------------------nosotros-index------------------------------*/
.bodynosotros {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "menu menu menu" "main main main";
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: 15% 90%;
      grid-template-rows: 15% 90%;
  margin: 0px;
  padding: 0px;
  color: white;
  background-size: cover;
  background-position: center;
  font-weight: bold;
  text-shadow: 3px 3px 3px #000;
  height: 100vh;
}

.navbarnos {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: menu;
}

.mainNosotros {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
  text-align: center;
  margin-top: 5%;
}

/*---------------------------------contacto------------------------------------*/
.contacto-html {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "menu menu menu" "main main main";
  -ms-grid-columns: 30% 35% 35%;
      grid-template-columns: 30% 35% 35%;
  -ms-grid-rows: 15% 90%;
      grid-template-rows: 15% 90%;
  margin: 0px;
  padding: 0px;
  color: white;
  background-size: cover;
  background-position: center;
  font-weight: bold;
  text-shadow: 3px 3px 3px #000;
  height: 100vh;
}

.navbarcontacto {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: menu;
  width: 100vw;
}

.input-contacto {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  text-shadow: 2px 2px 2px #000;
}

textarea {
  width: 99%;
}

fieldset {
  width: 50%;
}

/*-----------------------------------------pasteleriaria.html--------------------------------*/
.cuerpo-pasteleria {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "menu menu menu" "main main main";
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: 25% 90%;
      grid-template-rows: 25% 90%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  color: white;
  background-size: 100vw;
  font-weight: bold;
  text-shadow: 3px 3px 3px #000;
}

.navbarpasteleria {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: menu;
}

.backgroundslider {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel-item {
  margin-top: 0px;
  margin-left: 8%;
}

.carousel-inner img {
  height: 90vh;
  width: 70vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel-inner h4 {
  text-shadow: 2px 2px 2px #000;
  font-weight: bold;
  margin-right: 12%;
}

.carousel-inner p {
  text-shadow: 2px 2px 2px #000;
  font-weight: bold;
  margin-right: 12%;
}

.carousel-item {
  height: 80vh;
}

/*---------------------------------------------Desayunos---------------------------*/
.bodydesayunos {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "navegador navegador navegador" "main1 main2 main3" "promo1 promo2 promo3";
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: 15% 50% 35%;
      grid-template-rows: 15% 50% 35%;
  margin: 0px;
  padding: 0px;
  color: white;
  background-size: cover;
  background-position: center;
  font-weight: bold;
  text-shadow: 4px 4px 4px #000;
}

.navbardesayunos {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: navegador;
  width: 100%;
}

.section1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main1;
  margin-left: 20%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  padding-left: 10%;
  padding-top: 5%;
}

.section2 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: main3;
  margin-right: 20%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  padding-left: 10%;
  padding-top: 5%;
}

.card1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: promo1;
  margin: 10%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  padding: 2% 10%;
  font-size: 90%;
}

.card2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: promo2;
  margin: 10%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  padding: 2% 10%;
  font-size: 90%;
}

.card3 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: promo3;
  margin: 10%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  padding: 2% 10%;
  font-size: 90%;
}

/************************MAPS********************************/
.fondo--panes {
  background-image: url(../assets/header.png);
}

.fondo--galletas {
  background-image: url(../assets/desayunos2.png);
}

.fondo--facturas {
  background-image: url(../assets/unnamed.jpg);
}

.fondo--harina {
  background-image: url(../assets/white-wheat-flour-scattered-on-1777933.jpg);
}

.fondo--dulces {
  background-image: url(../assets/shutterstock_7222862681.jpg);
}

.fondo--panes2 {
  background-image: url(../assets/nosotros5.jpg);
}

.fondo--madera {
  background-image: url(../assets/wooden-background-with-board-and-wheat-free-photo.jpg);
}

.fondo--panes3 {
  background-image: url(../assets/shutterstock_1523956904-scaled.jpg);
}

.fondo--panes4 {
  background-image: url(../assets/opcion2.jpg);
}

.fondo--pasteleria {
  background-image: url(../assets/Pasteleria.jpg);
}

.fondo--desayunos {
  background-image: url(../assets/desayunos.jpg);
}
/*# sourceMappingURL=styles.css.map */